html, body {
  font-size: 16px;
  font-family: "OpenSansRegular"; }

.no-padding {
  padding: 0; }

.flat-button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #4bcaff;
  padding: 5px 12px;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1); }
  .flat-button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f41301; }
  .flat-button:focus {
    color: #fff;
    text-decoration: none; }

.material-button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #4bcaff;
  padding: 15px 45px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease;
  cursor: pointer; }
  .material-button::after {
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    background-color: #00354b;
    opacity: .18;
    -webkit-border-bottom-left-radius: 2px;
            border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
            border-bottom-right-radius: 2px;
    left: 0; }
  .material-button:focus, .material-button:hover {
    text-decoration: none;
    color: #fff;
    outline: none; }
  .material-button:hover {
    background-color: #4bcaff, 5%; }
    .material-button:hover::after {
      opacity: .22; }
  .material-button:active {
    background-color: #32c2ff; }
    .material-button:active::after {
      opacity: .32; }

.std-pd-medium {
  padding-top: 30px;
  padding-bottom: 30px; }
  .std-pd-medium h1:first-child, .std-pd-medium h2:first-child, .std-pd-medium h3:first-child, .std-pd-medium h4:first-child, .std-pd-medium h5:first-child, .std-pd-medium h6:first-child {
    margin-top: 0; }

.std-pd-large {
  padding-top: 50px;
  padding-bottom: 50px; }

p:last-child {
  margin-bottom: 0; }

body, html {
  height: 100%; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
